# Simple Linear Regression

## Overview

This notebook provides an in-depth exploration of simple linear regression.

**Simple Linear Regression:** A foundational method in machine learning utilized for predecting numerical values based on a single input variable.

The content herein covers the theoretical underpinning of simple linear regression, its practical implementation in `Python` leveraging prominent libraries such as `NumPy` and `SciKit-Learn`, and methodologies for assessing model performance.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [7]:
dataset = pd.read_csv('auto-mpg.csv')
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [8]:
data = dataset.iloc[:, :6]
data.head()

    mpg  cylinders  displacement horsepower  weight  acceleration
0  18.0          8         307.0        130    3504          12.0
1  15.0          8         350.0        165    3693          11.5
2  18.0          8         318.0        150    3436          11.0
3  16.0          8         304.0        150    3433          12.0
4  17.0          8         302.0        140    3449          10.5

In [9]:
data.shape

(398, 6)

In [10]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
dtype: object

In [39]:
nulls_ids = data.horsepower.str.isdigit
hp_nulls = np.where(~nulls_ids)[0]
dtat

TypeError: bad operand type for unary ~: 'method'

In [35]:
data = data.replace('?', np.nan)
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
dtype: int64